body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.header-div {

    background-color: rgba(0, 0, 0, 0) transparent;
    display: flex;
    text-align: center;
}

div {
    display: inline-block;

}



.btn {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 0.9rem 1.9rem;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.btn:hover {
    background-color: #a7a1a1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 70px;
    top: 40px;
}

h2 {
    text-align: center;
    font-size: 70px;
    color: white
}


.secao1 {
    height: 700px;
}

.secao2 {
    height: 350px;
    background-color: black
}

.texto2 {
    font-size: 30px;
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.secao3 {
    height: 350px;
    background-color: black
}

.texto3 {
    font-size: 30px;
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.secao4 {
    height: 350px;
    background-color: black
}

.texto4 {
    font-size: 30px;
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

.secao5 {
    height: 350px;
    background-color: black
}

.texto5 {
    font-size: 30px;
    text-align: justify;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}


section:nth-of-type(1) {
    background-image: url(img/emerson.jpeg );
}

section:nth-of-type(3) {
    background-image: url(img/familiaemerson.jpeg);
}

section:nth-of-type(5) {
    background-image: url(img/familiaemerson.jpeg );
}

section:nth-of-type(7) {
    background-image: url(img/familiaemerson.jpeg);
}

section:nth-of-type(9) {
    background-image: url(img/familiaemerson.jpeg);
}

footer {
    background-color: #4e4949;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    color: white;
    align-items: end;
    margin: 0px;
}


.tudo {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}